
#endtxt{
	font-size: 18px;
	line-height: 2;
	color: #555555;
    overflow: hidden;
    clear: both;
	word-break: normal;
	text-align:justify;
}
#endtxt ul li{
	display: list-item;
	text-align: -webkit-match-parent;
	list-style-type: disc;
}
#endtxt hr{clear: both;
padding-top: 15px;
border-width: 0 0 1px 0;
border-color: #999;
margin-bottom: 15px;
}

#endtxt ul,#endtxt  menu,#endtxt  dir,#endtxt blockquote  {
display: block;
list-style-type: disc;
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
padding-left:40px;
}
#endtxt em,#endtxt cite,#endtxt address,#endtxt i{font-style: italic;}
#endtxt h1,
#endtxt h2,
#endtxt h3,
#endtxt h4,
#endtxt h5,
#endtxt h6{
	font-weight: bold;
}

#endtxt h1{
	font-size: 28px;
}
#endtxt h2{
	font-size: 24px;
}
#endtxt h3{
	font-size: 18px;
}
#endtxt h4{
	font-size:12px;
}

#endtxt img{
	max-width: 100%;
}
@media screen and (max-width: 1600px){
	#endtxt{
		font-size: 15px;
		line-height: 2;
	}
}
@media (max-width: 640px){
    #endtxt{
		font-size: 14px;
		line-height: 24px;
    }
}

