@media (max-width: 1560px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 990px) {
}
@media (max-width: 768px) {
}

.head-top {
    height: 100px;
}
.second-nav {
    background: #f7f7f7;
    padding: 0 60px;
    .main-content {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .boxes {
            height: 100%;
            display: flex;
            align-items: center;
            .crumbs-ul {
                font-size: 0;
                display: flex;
                align-items: center;
                li {
                    a {
                        display: block;
                    }
                    .icon-svg {
                        position: relative;
                        display: flex;
                        font-size: 0;
                        margin: 0;
                        padding: 0;
                        fill: #333;
                        &.house {
                            width: 28px;
                            height: 28px;
                            cursor: pointer;
                        }
                        &.arrowsFullR {
                            margin: 0 10px;
                            top: 1px;
                            width: 28px;
                            height: 28px;
                        }
                    }
                    .text {
                        font-family: MR;
                        line-height: 1;
                        font-size: 18px;
                        color: #333;
                    }
                }
            }
            .nav-ul {
                height: 100%;
                display: flex;
                align-items: center;
                li {
                    position: relative;
                    height: 100%;
                    margin-left: 60px;
                    a {
                        height: 100%;
                        color: #333;
                        padding: 0 10px;
                        font-family: MR;
                        font-size: 18px;
                        line-height: 1;
                        display: flex;
                        align-items: center;
                        transition: all 0.3s ease;
                        &:hover {
                            color: #1caf62;
                        }
                    }
                    &:after {
                        position: absolute;
                        content: "";
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        background: #1caf62;
                        opacity: 0;
                        transition: all 0.3s ease;
                    }
                    &.on {
                        &:after {
                            opacity: 1;
                        }
                        a {
                            color: #1caf62;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1560px) {
}
@media (max-width: 1440px) {
}
@media (max-width: 1366px) {
    .second-nav .main-content .boxes .crumbs-ul li .text {
        font-size: 16px;
    }
    .second-nav .main-content .boxes .crumbs-ul li .icon-svg.house {
        width: 24px;
        height: 24px;
    }
    .second-nav .main-content .boxes .crumbs-ul li .icon-svg.arrowsFullR {
        width: 24px;
        height: 24px;
        margin: 0 6px;
    }
    .second-nav .main-content .boxes .nav-ul li {
        margin-left: 40px;
    }
    .second-nav .main-content .boxes .nav-ul li a {
        font-size: 16px;
    }
}
@media (max-width: 1199px) {
    .head-top {
        height: 60px;
    }
    .second-nav {
        padding: 0 20px;
    }
    .second-nav .main-content .boxes .nav-ul li {
        margin-left: 30px;
    }
}
@media (max-width: 990px) {
}
@media (max-width: 768px) {
    .second-nav .main-content {
        height: 50px;
    }
    .second-nav .main-content .boxes:nth-child(1) {
        display: none;
    }
    .second-nav .main-content .boxes {
        width: 100%;
    }
    .second-nav .main-content .boxes .nav-ul {
        width: 100%;
        justify-content: center;
    }
    .second-nav .main-content .boxes .nav-ul li {
        margin: 0 10px;
    }
    .second-nav .main-content .boxes .nav-ul li a {
        font-size: 14px;
    }
    .second-nav .main-content .boxes .nav-ul li:after {
        height: 2px;
    }
}
