.head-top {
  height: 100px;
}

.second-nav {
  background: #f7f7f7;
  padding: 0 60px;
}
.second-nav .main-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-nav .main-content .boxes {
  height: 100%;
  display: flex;
  align-items: center;
}
.second-nav .main-content .boxes .crumbs-ul {
  font-size: 0;
  display: flex;
  align-items: center;
}
.second-nav .main-content .boxes .crumbs-ul li a {
  display: block;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg {
  position: relative;
  display: flex;
  font-size: 0;
  margin: 0;
  padding: 0;
  fill: #333;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg.house {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg.arrowsFullR {
  margin: 0 10px;
  top: 1px;
  width: 28px;
  height: 28px;
}
.second-nav .main-content .boxes .crumbs-ul li .text {
  font-family: MR;
  line-height: 1;
  font-size: 18px;
  color: #333;
}
.second-nav .main-content .boxes .nav-ul {
  height: 100%;
  display: flex;
  align-items: center;
}
.second-nav .main-content .boxes .nav-ul li {
  position: relative;
  height: 100%;
  margin-left: 60px;
}
.second-nav .main-content .boxes .nav-ul li a {
  height: 100%;
  color: #333;
  padding: 0 10px;
  font-family: MR;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.second-nav .main-content .boxes .nav-ul li a:hover {
  color: #1caf62;
}
.second-nav .main-content .boxes .nav-ul li:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #1caf62;
  opacity: 0;
  transition: all 0.3s ease;
}
.second-nav .main-content .boxes .nav-ul li.on:after {
  opacity: 1;
}
.second-nav .main-content .boxes .nav-ul li.on a {
  color: #1caf62;
}

@media (max-width: 1366px) {
  .second-nav .main-content .boxes .crumbs-ul li .text {
    font-size: 16px;
  }
  .second-nav .main-content .boxes .crumbs-ul li .icon-svg.house {
    width: 24px;
    height: 24px;
  }
  .second-nav .main-content .boxes .crumbs-ul li .icon-svg.arrowsFullR {
    width: 24px;
    height: 24px;
    margin: 0 6px;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin-left: 40px;
  }
  .second-nav .main-content .boxes .nav-ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .head-top {
    height: 60px;
  }
  .second-nav {
    padding: 0 20px;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .second-nav .main-content {
    height: 50px;
  }
  .second-nav .main-content .boxes:nth-child(1) {
    display: none;
  }
  .second-nav .main-content .boxes {
    width: 100%;
  }
  .second-nav .main-content .boxes .nav-ul {
    width: 100%;
    justify-content: center;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin: 0 10px;
  }
  .second-nav .main-content .boxes .nav-ul li a {
    font-size: 14px;
  }
  .second-nav .main-content .boxes .nav-ul li:after {
    height: 2px;
  }
}
.pageBannerWrap {
  position: relative;
  overflow: hidden;
  z-index: 13;
}
.pageBannerWrap .pageBannerBg {
  max-width: 100%;
  height: 70vh;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.pageBannerWrap .pageBannerBg.change {
  height: calc(100vh - 150px);
}
.pageBannerWrap .pageBannerBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: o-scale 20s linear infinite;
          animation: o-scale 20s linear infinite;
}
.pageBannerWrap .pageBannerInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.pageBannerWrap .pageBannerInfo .info {
  display: block;
  color: #fff;
  font: 22px/1.2 MR;
}
.pageBannerWrap .pageBannerInfo .title {
  margin-bottom: 5px;
  font: bold 48px/1.4 ML;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 1366px) {
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 38px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .pageBannerWrap .pageBannerBg {
    height: 60vh;
  }
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 32px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .pageBannerWrap .pageBannerBg {
    height: 40vh;
  }
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 24px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 14px;
  }
}
.about-introduce {
  height: 925px;
  padding: 120px 0;
  background: url(../images/about-introduce-bg.jpg) no-repeat center;
  background-size: 1920px;
}
.about-introduce .info {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.about-introduce .info .pic {
  margin-right: 48px;
  width: 712px;
  height: 443px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.about-introduce .info .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-introduce .info .text {
  flex: 1;
}
.about-introduce .info .text h4 {
  margin-bottom: 20px;
  font-family: MR;
  line-height: 1;
  font-size: 48px;
  color: #000;
}
.about-introduce .info .text p {
  text-align: justify;
  font-family: MN;
  font-size: 18px;
  line-height: 2;
  color: #7d8090;
}
.about-introduce .data {
  margin: 60px auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.about-introduce .data dl dt {
  font-size: 22px;
}
.about-introduce .data dl dt strong {
  margin-right: 3px;
  color: #000;
  font-family: MR;
  font-size: 66px;
  font-weight: bold;
}
.about-introduce .data dl dt strong.special {
  color: #06974b;
  text-shadow: #2cc976 2px 12px 13px;
}
.about-introduce .data dl dt span {
  font-size: 34px;
}
.about-introduce .data dl dd {
  margin-top: 2px;
  font-size: 20px;
  line-height: 1.4;
  font-family: MN;
}

@media (max-width: 1830px) {
  .about-introduce {
    padding: 100px 0;
    height: 850px;
  }
  .about-introduce .info .pic {
    width: 680px;
    height: 423px;
  }
  .about-introduce .info .text h4 {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .about-introduce .info .text p {
    font-size: 16px;
  }
}
@media (max-width: 1560px) {
  .about-introduce {
    padding: 90px 0;
    height: 800px;
  }
  .about-introduce .info .pic {
    width: 620px;
    height: 385px;
  }
  .about-introduce .info .text h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  .about-introduce {
    padding: 80px 0;
    height: 750px;
  }
  .about-introduce .info .pic {
    margin-right: 26px;
    width: 560px;
    height: 348px;
  }
  .about-introduce .info .text h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
}
@media (max-width: 1366px) {
  .about-introduce {
    padding: 70px 0;
    height: 640px;
    background-size: cover;
  }
  .about-introduce .info {
    margin-bottom: 80px;
  }
  .about-introduce .info .pic {
    margin-right: 24px;
    width: 480px;
    height: 298px;
  }
  .about-introduce .info .text h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
  .about-introduce .data {
    width: 100%;
    margin: 50px 0;
  }
  .about-introduce .data dl dt {
    font-size: 20px;
  }
  .about-introduce .data dl dt strong {
    font-size: 46px;
  }
  .about-introduce .data dl dt span {
    font-size: 28px;
  }
  .about-introduce .data dl dd {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .about-introduce {
    padding: 60px 0;
    height: auto;
  }
  .about-introduce .info {
    margin-bottom: 70px;
    flex-direction: column;
  }
  .about-introduce .info .pic {
    margin: 0 0 40px;
    width: 480px;
    height: 298px;
  }
  .about-introduce .info .text h4 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
  }
  .about-introduce .info .text p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-introduce {
    padding: 50px 0;
  }
  .about-introduce {
    height: auto;
  }
  .about-introduce .info {
    margin-bottom: 50px;
  }
  .about-introduce .info .pic {
    margin: 0 0 30px;
    width: 100%;
    height: auto;
  }
  .about-introduce .info .text h4 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
  .about-introduce .data {
    margin: 30px 0;
  }
  .about-introduce .data dl {
    width: 25%;
    text-align: center;
  }
  .about-introduce .data dl dt {
    font-size: 14px;
  }
  .about-introduce .data dl dt strong {
    font-size: 24px;
  }
  .about-introduce .data dl dt span {
    font-size: 20px;
  }
  .about-introduce .data dl dd {
    font-size: 14px;
  }
  .about-introduce .data dl dt strong.special {
    text-shadow: #abe5c6 1px 4px 3px;
  }
}
.about-culture {
  background: url(../images/about-culture-bg.jpg) no-repeat;
  background-size: cover;
  height: 709px;
  background-attachment: fixed;
}
.about-culture .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-culture .wrapper .list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-culture .wrapper .list .item {
  position: relative;
  width: 25%;
  opacity: 0.7;
  transition: all 0.5s ease;
  text-align: center;
}
.about-culture .wrapper .list .item .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.about-culture .wrapper .list .item .icon.icon1 {
  background: url(../images/icon-about-culture1.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon2 {
  background: url(../images/icon-about-culture2.png) no-repeat center left -15px;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon3 {
  background: url(../images/icon-about-culture3.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon4 {
  background: url(../images/icon-about-culture4.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .tit {
  margin-bottom: 10px;
  color: #fff;
  font-weight: normal;
  font-family: MR;
  line-height: 1;
  font-size: 32px;
}
.about-culture .wrapper .list .item .english {
  color: #fff;
  font-family: MR;
  line-height: 1;
  font-size: 18px;
}
.about-culture .wrapper .list .item .text {
  opacity: 0;
  height: 0;
  width: 15em;
  margin: 20px auto 0;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.about-culture .wrapper .list .item .text p {
  font-family: MR;
  font-size: 18px;
  line-height: 2;
}
.about-culture .wrapper .list .item:hover {
  opacity: 1;
}
.about-culture .wrapper .list .item:hover .text {
  height: 4em;
  opacity: 1;
}
.about-culture .wrapper .list .item:hover .icon {
  transform: translateY(-20px);
}
.about-culture .wrapper .list .item:hover .icon.icon1 {
  background: url(../images/icon-about-culture1-hover.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon2 {
  background: url(../images/icon-about-culture2-hover.png) no-repeat center left -15px;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon3 {
  background: url(../images/icon-about-culture3-hover.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon4 {
  background: url(../images/icon-about-culture4-hover.png) no-repeat center;
  background-size: contain;
}

@media (max-width: 1440px) {
  .about-culture .wrapper .list .item .tit {
    font-size: 28px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text p {
    font-size: 16px;
  }
}
@media (max-width: 1366px) {
  .about-culture {
    height: 609px;
  }
  .about-culture .wrapper .list .item .tit {
    font-size: 24px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text p {
    font-size: 14px;
  }
  .about-culture .wrapper .list .item .text {
    width: auto;
  }
}
@media (max-width: 768px) {
  .about-culture {
    height: 600px;
    background-attachment: initial;
  }
  .about-culture .wrapper .list {
    flex-wrap: wrap;
  }
  .about-culture .wrapper .list .item {
    width: 50%;
    height: 240px;
    margin: 10px 0;
  }
  .about-culture .wrapper .list .item + .item + .item {
    height: auto;
  }
  .about-culture .wrapper .list .item .icon {
    width: 40px;
    height: 40px;
  }
  .about-culture .wrapper .list .item .tit {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text {
    height: auto;
    margin-top: 10px;
    padding: 0 10px;
  }
  .about-culture .wrapper .list .item .text p {
    font-size: 12px;
    line-height: 1.8;
  }
  .about-culture .wrapper .list .item .text {
    width: auto;
  }
}
.about-certification {
  padding: 130px 0 110px;
}
.about-certification .actop {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-certification .actop .boxes h4 {
  margin-bottom: 16px;
  font-family: MM;
  font-weight: normal;
  font-size: 46px;
  line-height: 1;
  color: #353535;
}
.about-certification .actop .boxes .text {
  font-family: ML;
  font-size: 24px;
  line-height: 1;
  color: #16191d;
  opacity: 0.5;
}
.about-certification .actop .boxes .navigation {
  display: flex;
  align-items: center;
}
.about-certification .actop .boxes .navigation .button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px #259f3d solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-certification .actop .boxes .navigation .button .icon-svg {
  fill: #259f3d;
  width: 40px;
  height: 40px;
}
.about-certification .actop .boxes .navigation .button:hover {
  background: #259f3d;
  box-shadow: 0 10px 30px 0px rgba(5, 149, 74, 0.1);
}
.about-certification .actop .boxes .navigation .button:hover .icon-svg {
  fill: #fff;
}

@media (max-width: 1560px) {
  .about-certification {
    padding: 120px 0 100px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-certification .actop .boxes .text {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .about-certification {
    padding: 110px 0 90px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 34px;
  }
  .about-certification .actop .boxes .text {
    font-size: 20px;
  }
}
@media (max-width: 1366px) {
  .about-certification .actop .boxes .navigation .button {
    width: 46px;
    height: 46px;
  }
}
@media (max-width: 1199px) {
  .about-certification .actop .boxes .navigation .button {
    width: 42px;
    height: 42px;
  }
  .about-certification {
    padding: 90px 0 70px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 32px;
  }
  .about-certification .actop .boxes .text {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .about-certification {
    padding: 70px 0 50px;
  }
}
@media (max-width: 768px) {
  .about-certification .actop .boxes .navigation .button {
    width: 32px;
    height: 32px;
  }
  .about-certification {
    padding: 60px 0 40px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .about-certification .actop .boxes .text {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */