.head-top {
  height: 100px;
}

.second-nav {
  background: #f7f7f7;
  padding: 0 60px;
}
.second-nav .main-content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.second-nav .main-content .boxes {
  height: 100%;
  display: flex;
  align-items: center;
}
.second-nav .main-content .boxes .crumbs-ul {
  font-size: 0;
  display: flex;
  align-items: center;
}
.second-nav .main-content .boxes .crumbs-ul li a {
  display: block;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg {
  position: relative;
  display: flex;
  font-size: 0;
  margin: 0;
  padding: 0;
  fill: #333;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg.house {
  width: 28px;
  height: 28px;
  cursor: pointer;
}
.second-nav .main-content .boxes .crumbs-ul li .icon-svg.arrowsFullR {
  margin: 0 10px;
  top: 1px;
  width: 28px;
  height: 28px;
}
.second-nav .main-content .boxes .crumbs-ul li .text {
  font-family: MR;
  line-height: 1;
  font-size: 18px;
  color: #333;
}
.second-nav .main-content .boxes .nav-ul {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.second-nav .main-content .boxes .nav-ul li {
  position: relative;
  height: 100%;
  margin-left: 60px;
}
.second-nav .main-content .boxes .nav-ul li a {
  height: 100%;
  color: #333;
  padding: 0 10px;
  font-family: MR;
  font-size: 18px;
  line-height: 1;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
}
.second-nav .main-content .boxes .nav-ul li a:hover {
  color: #1caf62;
}
.second-nav .main-content .boxes .nav-ul li a:after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #1caf62;
  opacity: 0;
  transition: all 0.3s ease;
}
.second-nav .main-content .boxes .nav-ul li.on .active {
  color: #1caf62;
}
.second-nav .main-content .boxes .nav-ul li.on .active:after {
  opacity: 1;
}

@media (max-width: 1366px) {
  .second-nav .main-content .boxes .crumbs-ul li .text {
    font-size: 16px;
  }
  .second-nav .main-content .boxes .crumbs-ul li .icon-svg.house {
    width: 24px;
    height: 24px;
  }
  .second-nav .main-content .boxes .crumbs-ul li .icon-svg.arrowsFullR {
    width: 24px;
    height: 24px;
    margin: 0 6px;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin-left: 40px;
  }
  .second-nav .main-content .boxes .nav-ul li a {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .head-top {
    height: 60px;
  }
  .second-nav {
    padding: 0 20px;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .second-nav.hind {
    display: none;
  }
  .second-nav .main-content {
    height: 50px;
  }
  .second-nav .main-content .boxes:nth-child(1) {
    display: none;
  }
  .second-nav .main-content .boxes {
    width: 100%;
  }
  .second-nav .main-content .boxes .nav-ul {
    width: 100%;
    justify-content: center;
  }
  .second-nav .main-content .boxes .nav-ul li {
    margin: 0 10px;
  }
  .second-nav .main-content .boxes .nav-ul li a {
    font-size: 14px;
  }
  .second-nav .main-content .boxes .nav-ul li:after {
    height: 2px;
  }
  .second-nav .main-content .boxes .nav-ul li a:hover {
    color: #333;
  }
}
.pageBannerWrap {
  position: relative;
  overflow: hidden;
  z-index: 13;
}
.pageBannerWrap .pageBannerBg {
  max-width: 100%;
  height: 70vh;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.pageBannerWrap .pageBannerBg.change {
  height: calc(100vh - 150px);
}
.pageBannerWrap .pageBannerBg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: o-scale 20s linear infinite;
          animation: o-scale 20s linear infinite;
}
.pageBannerWrap .pageBannerInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.pageBannerWrap .pageBannerInfo .info {
  display: block;
  color: #fff;
  font: 22px/1.2 MR;
}
.pageBannerWrap .pageBannerInfo .title {
  margin-bottom: 5px;
  font: bold 48px/1.4 ML;
  color: #fff;
  letter-spacing: 4px;
}

@media (max-width: 1366px) {
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 38px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .pageBannerWrap .pageBannerBg {
    height: 60vh;
  }
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 32px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .pageBannerWrap .pageBannerBg {
    height: 40vh;
  }
  .pageBannerWrap .pageBannerInfo .title {
    font-size: 24px;
  }
  .pageBannerWrap .pageBannerInfo .info {
    font-size: 14px;
  }
}
.about-introduce {
  height: 925px;
  padding: 120px 0;
  background: url(../images/about-introduce-bg.jpg) no-repeat center;
  background-size: 1920px;
}
.about-introduce .info {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}
.about-introduce .info .pic {
  margin-right: 48px;
  width: 712px;
  height: 443px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.about-introduce .info .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about-introduce .info .text {
  flex: 1;
}
.about-introduce .info .text h4 {
  margin-bottom: 20px;
  font-family: MR;
  line-height: 1;
  font-size: 48px;
  color: #000;
}
.about-introduce .info .text p {
  text-align: justify;
  font-family: MN;
  font-size: 18px;
  line-height: 2;
  color: #7d8090;
}
.about-introduce .data {
  margin: 60px auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
.about-introduce .data dl dt {
  font-size: 22px;
}
.about-introduce .data dl dt strong {
  margin-right: 3px;
  color: #000;
  font-family: MR;
  font-size: 66px;
  font-weight: bold;
}
.about-introduce .data dl dt strong.special {
  color: #06974b;
  text-shadow: #2cc976 2px 12px 13px;
}
.about-introduce .data dl dt span {
  font-size: 34px;
}
.about-introduce .data dl dd {
  margin-top: 2px;
  font-size: 20px;
  line-height: 1.4;
  font-family: MN;
}

@media (max-width: 1830px) {
  .about-introduce {
    padding: 100px 0;
    height: 850px;
  }
  .about-introduce .info .pic {
    width: 680px;
    height: 423px;
  }
  .about-introduce .info .text h4 {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .about-introduce .info .text p {
    font-size: 16px;
  }
}
@media (max-width: 1560px) {
  .about-introduce {
    padding: 90px 0;
    height: 800px;
  }
  .about-introduce .info .pic {
    width: 620px;
    height: 385px;
  }
  .about-introduce .info .text h4 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  .about-introduce {
    padding: 80px 0;
    height: 750px;
  }
  .about-introduce .info .pic {
    margin-right: 26px;
    width: 560px;
    height: 348px;
  }
  .about-introduce .info .text h4 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
}
@media (max-width: 1366px) {
  .about-introduce {
    padding: 70px 0;
    height: 640px;
    background-size: cover;
  }
  .about-introduce .info {
    margin-bottom: 80px;
  }
  .about-introduce .info .pic {
    margin-right: 24px;
    width: 480px;
    height: 298px;
  }
  .about-introduce .info .text h4 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
  .about-introduce .data {
    width: 100%;
    margin: 50px 0;
  }
  .about-introduce .data dl dt {
    font-size: 20px;
  }
  .about-introduce .data dl dt strong {
    font-size: 46px;
  }
  .about-introduce .data dl dt span {
    font-size: 28px;
  }
  .about-introduce .data dl dd {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .about-introduce {
    padding: 60px 0;
    height: auto;
  }
  .about-introduce .info {
    margin-bottom: 70px;
    flex-direction: column;
  }
  .about-introduce .info .pic {
    margin: 0 0 40px;
    width: 480px;
    height: 298px;
  }
  .about-introduce .info .text h4 {
    font-size: 26px;
    margin-bottom: 10px;
    text-align: center;
  }
  .about-introduce .info .text p {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .about-introduce {
    padding: 50px 0;
  }
  .about-introduce {
    height: auto;
  }
  .about-introduce .info {
    margin-bottom: 50px;
  }
  .about-introduce .info .pic {
    margin: 0 0 30px;
    width: 100%;
    height: auto;
  }
  .about-introduce .info .text h4 {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }
  .about-introduce .info .text p {
    font-size: 14px;
  }
  .about-introduce .data {
    margin: 30px 0;
  }
  .about-introduce .data dl {
    width: 25%;
    text-align: center;
  }
  .about-introduce .data dl dt {
    font-size: 14px;
  }
  .about-introduce .data dl dt strong {
    font-size: 24px;
  }
  .about-introduce .data dl dt span {
    font-size: 20px;
  }
  .about-introduce .data dl dd {
    font-size: 14px;
  }
  .about-introduce .data dl dt strong.special {
    text-shadow: #abe5c6 1px 4px 3px;
  }
}
.about-culture {
  background: url(../images/about-culture-bg.jpg) no-repeat;
  background-size: cover;
  height: 709px;
  background-attachment: fixed;
}
.about-culture .wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}
.about-culture .wrapper .list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-culture .wrapper .list .item {
  height: 100%;
  position: relative;
  width: 25%;
  opacity: 0.7;
  transition: all 0.5s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about-culture .wrapper .list .item .icon {
  width: 60px;
  height: 60px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}
.about-culture .wrapper .list .item .icon.icon1 {
  background: url(../images/icon-about-culture1.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon2 {
  background: url(../images/icon-about-culture2.png) no-repeat center left -15px;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon3 {
  background: url(../images/icon-about-culture3.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .icon.icon4 {
  background: url(../images/icon-about-culture4.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item .tit {
  margin-bottom: 10px;
  color: #fff;
  font-weight: normal;
  font-family: MR;
  line-height: 1;
  font-size: 32px;
}
.about-culture .wrapper .list .item .english {
  color: #fff;
  font-family: MR;
  line-height: 1;
  font-size: 18px;
}
.about-culture .wrapper .list .item .text {
  opacity: 0;
  height: 0;
  width: 15em;
  margin: 20px auto 0;
  color: #fff;
  transition: all 0.5s ease-in-out;
}
.about-culture .wrapper .list .item .text p {
  font-family: MR;
  font-size: 18px;
  line-height: 2;
}
.about-culture .wrapper .list .item:hover {
  opacity: 1;
}
.about-culture .wrapper .list .item:hover .text {
  height: 4em;
  opacity: 1;
}
.about-culture .wrapper .list .item:hover .icon {
  transform: translateY(-20px);
}
.about-culture .wrapper .list .item:hover .icon.icon1 {
  background: url(../images/icon-about-culture1-hover.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon2 {
  background: url(../images/icon-about-culture2-hover.png) no-repeat center left -15px;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon3 {
  background: url(../images/icon-about-culture3-hover.png) no-repeat center;
  background-size: contain;
}
.about-culture .wrapper .list .item:hover .icon.icon4 {
  background: url(../images/icon-about-culture4-hover.png) no-repeat center;
  background-size: contain;
}

@media (max-width: 1440px) {
  .about-culture .wrapper .list .item .tit {
    font-size: 28px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text p {
    font-size: 16px;
  }
}
@media (max-width: 1366px) {
  .about-culture {
    height: 609px;
  }
  .about-culture .wrapper .list .item .tit {
    font-size: 24px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text p {
    font-size: 14px;
  }
  .about-culture .wrapper .list .item .text {
    width: auto;
  }
}
@media (max-width: 768px) {
  .about-culture {
    height: 600px;
    background-attachment: initial;
  }
  .about-culture .wrapper .list {
    flex-wrap: wrap;
  }
  .about-culture .wrapper .list .item {
    width: 50%;
    height: 240px;
    margin: 10px 0;
  }
  .about-culture .wrapper .list .item + .item + .item {
    height: auto;
  }
  .about-culture .wrapper .list .item .icon {
    width: 40px;
    height: 40px;
  }
  .about-culture .wrapper .list .item .tit {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .about-culture .wrapper .list .item .english,
.about-culture .wrapper .list .item .text {
    height: auto;
    margin-top: 10px;
    padding: 0 10px;
  }
  .about-culture .wrapper .list .item .text p {
    font-size: 12px;
    line-height: 1.8;
  }
  .about-culture .wrapper .list .item .text {
    width: auto;
  }
}
.about-certification {
  padding: 130px 0 110px;
}
.about-certification .actop {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-certification .actop .boxes h4 {
  margin-bottom: 16px;
  font-family: MM;
  font-weight: normal;
  font-size: 46px;
  line-height: 1;
  color: #353535;
}
.about-certification .actop .boxes .text {
  font-family: ML;
  font-size: 24px;
  line-height: 1;
  color: #16191d;
  opacity: 0.5;
}
.about-certification .actop .boxes .navigation {
  display: flex;
  align-items: center;
}
.about-certification .actop .boxes .navigation .button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px #259f3d solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.about-certification .actop .boxes .navigation .button .icon-svg {
  fill: #259f3d;
  width: 40px;
  height: 40px;
}
.about-certification .actop .boxes .navigation .button:hover {
  background: #259f3d;
  box-shadow: 0 10px 30px 0px rgba(5, 149, 74, 0.1);
}
.about-certification .actop .boxes .navigation .button:hover .icon-svg {
  fill: #fff;
}

@media (max-width: 1560px) {
  .about-certification {
    padding: 120px 0 100px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-certification .actop .boxes .text {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  .about-certification {
    padding: 110px 0 90px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 34px;
  }
  .about-certification .actop .boxes .text {
    font-size: 20px;
  }
}
@media (max-width: 1366px) {
  .about-certification .actop .boxes .navigation .button {
    width: 46px;
    height: 46px;
  }
}
@media (max-width: 1199px) {
  .about-certification .actop .boxes .navigation .button {
    width: 42px;
    height: 42px;
  }
  .about-certification {
    padding: 90px 0 70px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 32px;
  }
  .about-certification .actop .boxes .text {
    font-size: 18px;
  }
}
@media (max-width: 990px) {
  .about-certification {
    padding: 70px 0 50px;
  }
}
@media (max-width: 768px) {
  .about-certification .actop .boxes .navigation .button {
    width: 32px;
    height: 32px;
  }
  .about-certification {
    padding: 60px 0 40px;
  }
  .about-certification .actop .boxes h4 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  .about-certification .actop .boxes .text {
    font-size: 16px;
  }
}
.about-certification {
  background: #f0f0f0;
}
.about-certification .list .swiper-container {
  padding: 0 10vw;
}
.about-certification .list .swiper-container ul li {
  overflow: hidden;
}
.about-certification .list .swiper-container ul li .items {
  position: relative;
  height: 487px;
  padding: 30px 0;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.about-certification .list .swiper-container ul li .items .pic {
  width: 229px;
  height: 323px;
  overflow: hidden;
}
.about-certification .list .swiper-container ul li .items .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-certification .list .swiper-container ul li .items .line {
  margin: 34px 0;
  height: 1px;
  width: 100%;
  background: #f2f2f2;
}
.about-certification .list .swiper-container ul li .items .text {
  text-align: center;
}
.about-certification .list .swiper-container ul li .items .text p {
  font-family: MN;
  font-size: 18px;
  color: #333;
}
.about-certification .list .swiper-container ul li .items:hover .coverImg {
  opacity: 0.92;
  transform: translateY(0);
}
.about-certification .list .swiper-container ul li .items:hover .coverImg .icon {
  opacity: 1;
  transform: translateY(-16px);
}
.about-certification .list .swiper-container ul li .items:hover .coverImg span {
  opacity: 1;
  transform: translateY(0);
}
.about-certification .list .swiper-container ul li .items .coverImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #019146, #1baf62);
  opacity: 0.92;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transform: translateY(90%);
  transition: all 0.5s ease;
  overflow: hidden;
}
.about-certification .list .swiper-container ul li .items .coverImg .icon {
  opacity: 0;
  transform: translateY(0);
  transition: all 0.5s ease 0.3s;
}
.about-certification .list .swiper-container ul li .items .coverImg .icon .icon-svg {
  width: 60px;
  height: 60px;
  fill: #fff;
  display: flex;
}
.about-certification .list .swiper-container ul li .items .coverImg span {
  font-family: MN;
  font-size: 22px;
  color: #fff;
  transform: translateY(20px);
  transition: all 0.5s ease 0.6s;
  opacity: 0;
}
.about-certification .list .swiper-container ul li .items .coverImg img {
  opacity: 0;
}
.about-certification .swiper-scrollbar {
  margin-top: 78px;
  height: 6px;
  width: 100%;
  background: #dcdcdc;
}
.about-certification .swiper-scrollbar .swiper-scrollbar-drag {
  background: #259f3d;
}

@media (max-width: 1560px) {
  .about-certification .list .swiper-container ul li .items {
    height: 400px;
  }
  .about-certification .list .swiper-container ul li .items .line {
    margin: 30px 0;
  }
  .about-certification .list .swiper-container ul li .items .pic {
    width: 190px;
    height: 268px;
  }
}
@media (max-width: 1440px) {
  .about-certification .list .swiper-container ul li .items {
    height: 380px;
  }
  .about-certification .list .swiper-container ul li .items .line {
    margin: 30px 0;
  }
  .about-certification .list .swiper-container ul li .items .pic {
    width: 170px;
    height: 240px;
  }
}
@media (max-width: 1366px) {
  .about-certification .swiper-scrollbar {
    margin-top: 66px;
  }
}
@media (max-width: 1199px) {
  .about-certification .list .swiper-container ul li .items {
    height: 400px;
  }
  .about-certification .list .swiper-container ul li .items .line {
    margin: 30px 0;
  }
  .about-certification .list .swiper-container ul li .items .pic {
    width: 180px;
    height: 254px;
  }
  .about-certification .swiper-scrollbar {
    margin-top: 60px;
  }
}
@media (max-width: 990px) {
  .about-certification .swiper-scrollbar {
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .about-certification .swiper-scrollbar {
    margin-top: 30px;
    height: 4px;
  }
}
.product-elevator {
  position: relative;
  padding-top: 135px;
  background: #f8f8f8;
}
.product-elevator .wrapper {
  position: relative;
}
.product-elevator .wrapper .elevator {
  display: flex;
}
.product-elevator .wrapper .elevator .boxes:nth-child(1) {
  width: calc(23% - 30px);
}
.product-elevator .wrapper .elevator .boxes:nth-child(2) {
  flex: 1;
  width: 100%;
}
.product-elevator .wrapper .elevator .boxes .headline {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
}
.product-elevator .wrapper .elevator .boxes .headline.on .icon {
  background: url(../images/icon-product-active.png) no-repeat center;
  background-size: 49px;
}
.product-elevator .wrapper .elevator .boxes .headline.on .text h4 {
  color: #1caf62;
}
.product-elevator .wrapper .elevator .boxes .headline.on .text span {
  color: #1caf62;
}
.product-elevator .wrapper .elevator .boxes .headline .icon {
  display: block;
  background: url(../images/icon-product.png) no-repeat center;
  background-size: 49px;
  width: 49px;
  height: 39px;
}
.product-elevator .wrapper .elevator .boxes .headline .text {
  margin-left: 30px;
}
.product-elevator .wrapper .elevator .boxes .headline .text h4 {
  font-family: MR;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.2;
}
.product-elevator .wrapper .elevator .boxes .headline .text span {
  font-family: DM;
  font-size: 14px;
  line-height: 1.2;
}
.product-elevator .wrapper .elevator .boxes .product-list {
  margin-bottom: 140px;
  display: flex;
  flex-wrap: wrap;
}
.product-elevator .wrapper .elevator .boxes .product-list li {
  width: 33.33%;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items {
  position: relative;
  margin: 0 0 30px 30px;
  padding: 40px;
  background: #fff;
  box-shadow: rgb(242, 242, 242) 6px 8px 8px 2px;
  transition: all 0.5s ease;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/product/product-item-bg.jpg) no-repeat center center;
  background-size: cover;
  z-index: 2;
  transition: all 0.5s ease;
  opacity: 0;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .flexImg {
  position: relative;
  z-index: 3;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .flexImg > img {
  width: 100%;
  opacity: 0;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .flexImg .pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .flexImg .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .tit {
  position: relative;
  z-index: 3;
  margin-top: 20px;
  font-family: MD;
  line-height: 1.2;
  font-size: 22px;
  color: #000;
  height: 2.5em;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .text {
  position: relative;
  z-index: 3;
  margin-top: 10px;
  height: 4em;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .text p {
  font-family: MN;
  color: #555;
  font-size: 16px;
  line-height: 1.4;
  margin: 6px 0;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items .more {
  position: relative;
  z-index: 3;
  margin-top: 16px;
  width: 114px;
  height: 40px;
  color: #fff;
  font-family: MR;
  font-size: 15px;
  background: #1caf62;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items:hover {
  transform: translateY(-5px);
}
.product-elevator .wrapper .elevator .boxes .product-list li .items:hover .bg {
  opacity: 1;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items:hover .tit {
  color: #fff;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items:hover .text p {
  color: #fff;
}
.product-elevator .wrapper .elevator .boxes .product-list li .items:hover .more {
  color: #1caf62;
  background: #fff;
}
.product-elevator .wrapper .m2lcLine {
  position: absolute;
  top: 0;
  left: 62px;
  height: 100%;
  border-left: 1px #dfdfdf dashed;
}
.product-elevator .wrapper .m2lcLine i {
  display: block;
  position: absolute;
  border-left: 1px #1caf62 dashed;
}

@media (max-width: 1660px) {
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: calc(20% - 20px);
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 0 0 20px 20px;
  }
}
@media (max-width: 1560px) {
  .product-elevator .wrapper .elevator .boxes .headline .text h4 {
    font-size: 20px;
  }
  .product-elevator .wrapper .elevator .boxes .headline .text span {
    font-size: 12px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items .tit {
    font-size: 20px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items .text p {
    font-size: 14px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items .more {
    width: 100px;
    height: 38px;
    font-size: 14px;
  }
}
@media (max-width: 1440px) {
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: calc(20% - 16px);
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 0 0 16px 16px;
    padding: 24px;
  }
}
@media (max-width: 1366px) {
  .product-elevator {
    padding-top: 80px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list {
    margin-bottom: 90px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li {
    width: 50%;
  }
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: 24%;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 0 0 20px 20px;
    padding: 30px;
  }
}
@media (max-width: 1199px) {
  .product-elevator {
    padding-top: 70px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list {
    margin-bottom: 80px;
  }
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: 26%;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li {
    width: 50%;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 0 0 16px 16px;
    padding: 20px;
  }
}
@media (max-width: 990px) {
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: 32%;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 0 0 16px 16px;
    padding: 20px;
  }
}
@media (max-width: 768px) {
  .second-nav-product {
    display: none;
  }
  .m2lcLine {
    display: none;
  }
  .product-elevator {
    padding-top: 40px;
  }
  .product-elevator .wrapper .elevator {
    position: relative;
    flex-direction: column;
  }
  .product-elevator .wrapper .elevator .boxes .product-list {
    margin-bottom: 60px;
  }
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-elevator .wrapper .elevator .boxes .headline .icon {
    width: 39px;
    height: 29px;
    background-size: 39px;
  }
  .product-elevator .wrapper .elevator .boxes .headline .text {
    margin-left: 10px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    margin: 6px;
    padding: 20px;
  }
  .product-elevator .wrapper .elevator .boxes:nth-child(1) {
    background: #fff;
    padding: 10px 0;
    margin: 0 6px 6px;
    width: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 10px 0px;
  }
  .product-elevator .wrapper .elevator .boxes .headline .text h4 {
    font-size: 18px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items {
    padding: 14px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items .tit {
    font-size: 16px;
  }
  .product-elevator .wrapper .elevator .boxes .product-list li .items .more {
    width: 100%;
    height: 32px;
    font-size: 12px;
  }
}
.emc-main {
  overflow: hidden;
}
.emc-main .emc-banner {
  position: relative;
  height: 100vh;
}
.emc-main .emc-banner .bg {
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.emc-main .emc-banner .chiefly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emc-main .emc-banner .chiefly .wrapper .showing {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes {
  width: calc(50% - 50px);
  overflow: hidden;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic {
  position: relative;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic > div {
  height: 100%;
  transition: all 0.5s ease;
  overflow: hidden;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic .pic1 {
  opacity: 1;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic .pic2 {
  position: absolute;
  top: 0;
  opacity: 0;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .pic > div img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
  height: 55vh;
  background: rgba(28, 175, 98, 0.8);
  overflow: hidden;
  padding: 0 55px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .introduce1 {
  opacity: 1;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .introduce2 {
  opacity: 0;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
  display: block;
  font-family: MR;
  line-height: 1.2;
  color: #fff;
  font-size: 30px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
  margin-top: 14px;
  line-height: 1.2;
  letter-spacing: 5px;
  color: #fff;
  font-size: 48px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text {
  margin-top: 14px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text p {
  font-family: MR;
  line-height: 1.8;
  color: #fff;
  font-size: 18px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns {
  margin-top: 12px;
  display: flex;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
  position: relative;
  border: 2px #fff solid;
  width: 100%;
  height: 82px;
  color: #fff;
  font-family: MR;
  font-size: 22px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
  overflow: hidden;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:first-child {
  margin-right: 12px;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button.on {
  background: #1caf62;
  border-color: #1caf62;
  color: #fff !important;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s;
  width: 100%;
  height: 0;
  top: 50%;
  left: 50%;
  background: #fff;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:hover, .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:after {
  color: #1caf62;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:hover:after {
  height: 260%;
  opacity: 1;
}
.emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button:active:after {
  height: 400%;
  opacity: 1;
}
.emc-main .emc-banner.on .chiefly .wrapper .showing .boxes .pic .pic1 {
  position: absolute;
  opacity: 0;
}
.emc-main .emc-banner.on .chiefly .wrapper .showing .boxes .pic .pic2 {
  position: relative;
  opacity: 1;
}
.emc-main .emc-banner.on .chiefly .wrapper .showing .boxes .info .introduce .introduce1 {
  height: 0;
  opacity: 0;
}
.emc-main .emc-banner.on .chiefly .wrapper .showing .boxes .info .introduce .introduce2 {
  opacity: 1;
}

@media (max-width: 1560px) {
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes {
    width: calc(50% - 40px);
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    padding: 0 45px;
    height: 50vh;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
    font-size: 28px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text p {
    font-size: 16px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
    font-size: 46px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
    font-size: 18px;
    height: 72px;
  }
}
@media (max-width: 1440px) {
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes {
    width: calc(50% - 30px);
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    padding: 0 40px;
    height: 45vh;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
    font-size: 26px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text p {
    font-size: 14px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text {
    margin-top: 12px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
    font-size: 44px;
    margin-top: 12px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
    font-size: 16px;
    height: 62px;
  }
}
@media (max-width: 1366px) {
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes {
    width: calc(50% - 20px);
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    padding: 0 36px;
    height: 40vh;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
    font-size: 24px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text {
    margin-top: 10px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
    font-size: 40px;
    margin-top: 10px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
    font-size: 14px;
    height: 52px;
  }
}
@media (max-width: 1199px) {
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes {
    width: calc(50% - 10px);
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    padding: 0 32px;
    height: 46vh;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
    font-size: 22px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text {
    margin-top: 8px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
    font-size: 34px;
    margin-top: 8px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
    font-size: 14px;
    height: 46px;
  }
}
@media (max-width: 990px) {
  .emc-main .emc-banner .bg {
    background-attachment: inherit;
    background-size: cover;
    background-position: left -832px top 0;
  }
  .emc-main .emc-banner:nth-child(1) .bg {
    background-position: left -500px top 0;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing {
    flex-direction: column;
    justify-content: center;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes {
    width: 100%;
  }
  .emc-main .emc-banner:nth-child(2n+2) .chiefly .wrapper .showing {
    flex-direction: column-reverse;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes.photo {
    width: 50%;
    height: 30vh;
    display: flex;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    height: 40vh;
    margin-top: 30px;
  }
}
@media (max-width: 768px) {
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes.photo {
    width: 60%;
    height: auto;
    display: flex;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce {
    height: 50vh;
    margin-top: 30px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .name {
    font-size: 16px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .text {
    margin-top: 5px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .introduce .tit {
    font-size: 22px;
    margin-top: 5px;
  }
  .emc-main .emc-banner .chiefly .wrapper .showing .boxes .info .btns .button {
    font-size: 14px;
    height: 48px;
  }
}
.data-main {
  position: relative;
  padding: 150px 0;
  z-index: 20;
}
.data-main .wrapper .data-top {
  display: flex;
  align-items: center;
}
.data-main .wrapper .data-top .boxes:nth-child(1) {
  width: 100%;
}
.data-main .wrapper .data-top .boxes:nth-child(2) {
  margin-left: 15px;
  width: 34%;
}
.data-main .wrapper .data-top .boxes .truck {
  padding: 0 26px;
  height: 76px;
  border: 2px #e8e8e8 solid;
  display: flex;
  align-items: center;
}
.data-main .wrapper .data-top .boxes .truck input {
  width: 100%;
  font-family: MN;
  font-size: 20px;
  color: #444;
}
.data-main .wrapper .data-top .boxes .truck .icon-svg {
  fill: #1caf62;
  width: 28px;
  height: 28px;
  display: flex;
  cursor: pointer;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  z-index: 60;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 p {
  color: #c7c7c7;
  font-family: ML;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 p span {
  padding: 0 26px;
  color: #444;
  font-weight: bold;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -3px;
  border-width: 8px 8px 0 8px;
  border-style: solid;
  border-color: #1caf62 transparent;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown {
  /* Size & position */
  position: absolute;
  top: 140%;
  left: 0;
  right: 0;
  /* Styles */
  background: white;
  border-radius: inherit;
  border: 1px solid rgba(0, 0, 0, 0.17);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  font-weight: normal;
  transition: all 0.5s ease-in;
  list-style: none;
  /* Hiding */
  opacity: 0;
  pointer-events: none;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown li a {
  display: block;
  padding: 14px;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #e6e8ea;
  box-shadow: inset 0 1px 0 rgb(255, 255, 255);
  transition: all 0.3s ease-out;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown li i {
  float: right;
  color: inherit;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown li:first-of-type a {
  border-radius: 7px 7px 0 0;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown li:last-of-type a {
  border-radius: 0 0 7px 7px;
  border: none;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown li:hover a {
  background: #f3f8f8;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 15px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: #fff transparent;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3 .dropdown:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  right: 13px;
  border-width: 0 8px 8px 8px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1) transparent;
}
.data-main .wrapper .data-top .boxes .truck .wrapper-dropdown-3.active .dropdown {
  opacity: 1;
  pointer-events: auto;
}
.data-main .wrapper .data-list {
  margin-top: 36px;
}
.data-main .wrapper .data-list .li {
  margin-bottom: 16px;
}
.data-main .wrapper .data-list .li.on .row .railway-engine .boxes .triangle {
  transform: rotate(0);
}
.data-main .wrapper .data-list .li .row {
  height: 100px;
  background: linear-gradient(90deg, #1caf62, #159853);
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.data-main .wrapper .data-list .li .row .railway-engine {
  width: 100%;
  padding: 0 60px 0 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes .icon {
  display: block;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes .icon img {
  -o-object-fit: contain;
     object-fit: contain;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes .line {
  margin: 0 58px 0 40px;
  width: 1px;
  height: 50px;
  background: #fff;
  opacity: 0.4;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes .tit {
  font-size: MN;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}
.data-main .wrapper .data-list .li .row .railway-engine .boxes .triangle {
  width: 0;
  height: 0;
  margin-top: -3px;
  border-width: 14px 12px 0 12px;
  border-style: solid;
  border-color: #fff transparent;
  transform: rotate(-90deg);
  transition: all 0.3s ease;
}
.data-main .wrapper .data-list .li .data-ul {
  display: none;
  padding: 10px 38px 0;
  border: 1px #1caf62 solid;
}
.data-main .wrapper .data-list .li .data-ul li {
  height: 98px;
  border-bottom: 1px #e8e8e8 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-main .wrapper .data-list .li .data-ul li:last-child {
  border-bottom: 0;
}
.data-main .wrapper .data-list .li .data-ul li:hover .item .text {
  color: #1caf62;
}
.data-main .wrapper .data-list .li .data-ul li:hover .item .icon-svg {
  fill: #1caf62;
}
.data-main .wrapper .data-list .li .data-ul li .item {
  width: 100%;
  display: flex;
  align-items: center;
}
.data-main .wrapper .data-list .li .data-ul li .item:nth-child(1) .icon-svg {
  margin-right: 48px;
  width: 26px;
  height: 26px;
  display: flex;
  transition: all 0.3s ease;
}
.data-main .wrapper .data-list .li .data-ul li .item:nth-child(2) {
  width: 60%;
}
.data-main .wrapper .data-list .li .data-ul li .item:nth-child(3) {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}
.data-main .wrapper .data-list .li .data-ul li .item:nth-child(3) .icon-svg {
  width: 20px;
  height: 20px;
  display: flex;
  transition: all 0.3s ease;
}
.data-main .wrapper .data-list .li .data-ul li .item .text {
  display: block;
  transition: all 0.3s ease;
  font-family: MR;
  font-size: 20px;
  color: #555;
}/*# sourceMappingURL=style.css.map */