.home-banner {
    position: relative;
    display: block;
    overflow: hidden;
    height: 100vh;
    .section {
        width: 100%;
        height: 100vh;
        .banner {
            .item {
                position: relative;
                .box-img {
                    overflow: hidden;
                    height: 100vh;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        animation: o-scale 20s linear infinite;
                    }
                }
                .box-info {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3 {
                        margin-bottom: 10px;
                        color: #fff;
                        font-family: MH;
                        letter-spacing: 8px;
                        font-size: 66px;
                        line-height: 1.2;
                        transition: all 0.6s ease;
                        transform: translateY(20px);
                        opacity: 0;
                    }
                    p {
                        color: #fff;
                        font-size: 24px;
                        line-height: 1.2;
                        letter-spacing: 6px;
                        transition: all 0.6s ease;
                        transform: translateY(20px);
                        opacity: 0;
                    }
                }
                &.swiper-slide-active {
                    .box-info {
                        h3 {
                            transition-delay: 0.8s;
                            transform: translateY(0);
                            opacity: 1;
                        }
                        p {
                            transition-delay: 1s;
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    .home-banner-bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: calc(100% - 120px);
        margin: 0 auto;
        z-index: 10;
        display: flex;
        overflow: hidden;
        .boxes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:nth-child(1) {
                width: 60%;
                background: rgba(21, 168, 92, 0.95);
                .navigation {
                    margin-right: 60px;
                    flex: 1;
                    div {
                        margin: 10px 0;
                        cursor: pointer;
                        opacity: 0.8;
                        transition: all 0.3 ease;
                        &:hover {
                            opacity: 1;
                        }
                        &.button-prev {
                            width: 0;
                            height: 0;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 6px solid #fff;
                        }
                        &.button-next {
                            width: 0;
                            height: 0;
                            border-top: 6px solid #fff;
                            border-right: 6px solid transparent;
                            border-left: 6px solid transparent;
                        }
                    }
                }
            }
            &:nth-child(2) {
                width: 40%;
                background: #fff;
            }
            .home-inform {
                flex: none;
                width: 90%;
                .swiper-container {
                    height: 103px;
                    .swiper-slide {
                        a {
                            height: 100%;
                            margin: 0 50px;
                            display: flex;
                            align-items: center;
                            .icon-svg {
                                margin-right: 18px;
                                width: 30px;
                                height: 30px;
                                fill: #fff;
                                display: flex;
                            }
                            p {
                                flex: 1;
                                font-family: MR;
                                line-height: 1;
                                font-size: 20px;
                                color: #fff;
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                -o-text-overflow: ellipsis;
                            }
                        }
                    }
                }
            }
            .banner-info {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .swiper-pagination {
                    position: relative;
                    margin-left: 50px;
                    margin-top: 3px;
                    span {
                        margin-right: 16px;
                        position: relative;
                        width: 20px;
                        height: 20px;
                        background: none;
                        border: 2px #dadada solid;
                        opacity: 1;
                        transition: all 0.3s ease-out;
                        &.swiper-pagination-bullet-active {
                            border-color: #13a559;
                            &::after {
                                opacity: 1;
                                transform: scale(1);
                            }
                        }
                        &::after {
                            position: absolute;
                            top: 2px;
                            left: 2px;
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            content: "";
                            display: block;
                            background: linear-gradient(90deg, #18ab5e, #06974c);
                            opacity: 0;
                            transition: all 0.6s ease;
                            transform: scale(0);
                        }
                    }
                }
                .swiper-number {
                    margin-right: 50px;
                    color: #d9d9d9;
                    font-family: DINPro-Medium;
                    font-size: 22px;
                    font-style: oblique;
                    span {
                        margin: 0 10px;
                        font-style: normal;
                        &:first-child {
                            color: #06964b;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1366px) {
    .home-banner .section .banner .item .box-info h3 {
        font-size: 50px;
    }
    .home-banner .section .banner .item .box-info p {
        font-size: 20px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container {
        height: 83px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a p {
        font-size: 18px;
    }
}
@media (max-width: 1300px) {
    .home-banner .section .banner .item .box-info h3 {
        font-size: 40px;
    }
    .home-banner .section .banner .item .box-info p {
        font-size: 18px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container {
        height: 73px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a {
        margin: 0 30px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a p {
        font-size: 16px;
    }
    .home-banner .home-banner-bottom .boxes:nth-child(1) .navigation {
        margin-right: 30px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-number {
        font-size: 18px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span {
        width: 18px;
        height: 18px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span::after {
        width: 10px;
        height: 10px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination {
        margin-left: 30px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-number {
        margin-right: 30px;
    }
}
@media (max-width: 1199px) {
    .home-banner .section .banner .item .box-info h3 {
        font-size: 38px;
    }
    .home-banner .section .banner .item .box-info p {
        font-size: 16px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container {
        height: 63px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a {
        margin: 0 20px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a p {
        font-size: 14px;
    }
    .home-banner .home-banner-bottom .boxes:nth-child(1) .navigation {
        margin-right: 20px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-number {
        font-size: 16px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span {
        width: 16px;
        height: 16px;
        margin-right: 10px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span::after {
        width: 8px;
        height: 8px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination {
        margin-left: 20px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-number {
        margin-right: 20px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a .icon-svg {
        margin-right: 10px;
    }
}
@media (max-width: 768px) {
    .home-banner .section .banner .item .box-info h3 {
        font-size: 22px;
        letter-spacing: 2px;
        margin-bottom: 5px;
    }
    .home-banner .section .banner .item .box-info p {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .home-banner .home-banner-bottom {
        width: 100%;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container {
        height: 53px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a .icon-svg {
        width: 20px;
        height: 20px;
    }
    .home-banner .home-banner-bottom .boxes .home-inform .swiper-container .swiper-slide a p {
        font-size: 13px;
    }

    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span {
        width: 14px;
        height: 14px;
        margin-right: 5px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-pagination span::after {
        width: 6px;
        height: 6px;
    }
    .home-banner .home-banner-bottom .boxes .banner-info .swiper-number {
        font-size: 12px;
        margin-right: 5px;
    }
}

.plate-head {
    .headline {
        margin-bottom: 16px;
        font-family: MR;
        font-size: 48px;
        line-height: 1;
        color: #000;
    }
    .subheading {
        font-family: ML;
        font-size: 40px;
        line-height: 1;
        color: #000;
        font-weight: normal;
    }
}
@media (max-width: 1366px) {
    .plate-head {
        .headline {
            font-size: 38px;
        }
        .subheading {
            font-size: 28px;
        }
    }
}
@media (max-width: 768px) {
    .plate-head {
        .headline {
            font-size: 22px;
            margin-bottom: 8px;
        }
        .subheading {
            font-size: 18px;
        }
    }
}
.home-about {
    background: #f9f9fb url(../images/home-about-bg.jpg) no-repeat center;
    background-size: cover;
    height: 908px;
    & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .text {
            width: 84%;
            margin-top: 30px;
            font-size: 18px;
            line-height: 2;
            color: #7d8090;
            text-align: justify;
        }
        .data {
            margin: 60px 0;
            width: 55%;
            display: flex;
            justify-content: space-between;
            dl {
                dt {
                    font-size: 22px;
                    strong {
                        margin-right: 3px;
                        color: #000;
                        font-family: MR;
                        font-size: 66px;
                        font-weight: bold;
                        &.special {
                            color: #06974b;
                            text-shadow: #2cc976 2px 12px 13px;
                        }
                    }
                    span {
                        font-size: 34px;
                    }
                }
                dd {
                    margin-top: 2px;
                    font-size: 20px;
                    line-height: 1.4;
                    font-family: MN;
                }
            }
        }
        .view-details {
            width: 180px;
            height: 48px;
            font-size: 14px;
            line-height: 1;
            color: #fff;
            background: linear-gradient(45deg, #019146, #1cb063);
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 10px 30px 0px rgba(5, 149, 74, 0.5);
            transition: all 0.5s ease;
            &:hover {
                transform: translateY(-5px);
            }
        }
    }
}
@media (max-width: 1740px) {
    .home-about > div .data {
        width: 60%;
    }
}
@media (max-width: 1560px) {
    .home-about > div .data {
        width: 70%;
    }
}
@media (max-width: 1440px) {
    .home-about > div .data {
        width: 75%;
    }
}
@media (max-width: 1366px) {
    .home-about {
        height: 708px;
    }
    .home-about > div .headline {
        font-size: 38px;
    }
    .home-about > div .subheading {
        font-size: 28px;
    }
    .home-about > div .text {
        font-size: 16px;
    }
    .home-about > div .data {
        width: 70%;
        margin: 50px 0;
    }
    .home-about > div .data dl dt {
        font-size: 20px;
    }
    .home-about > div .data dl dt strong {
        font-size: 46px;
    }
    .home-about > div .data dl dt span {
        font-size: 28px;
    }
    .home-about > div .data dl dd {
        font-size: 18px;
    }
    .home-about > div .view-details {
        width: 150px;
        height: 42px;
    }
}
@media (max-width: 1199px) {
    .home-about > div .data {
        width: 95%;
        margin: 40px 0;
    }
    .home-about > div .text {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .home-about {
        height: 600px;
        background: #f9f9fb url(../images/home-about-bg.jpg) no-repeat right -265px top 0;
        background-size: cover;
    }
    .home-about > div .headline {
        font-size: 22px;
        margin-bottom: 8px;
    }
    .home-about > div .subheading {
        font-size: 18px;
    }
    .home-about > div .text {
        margin-top: 10px;
        font-size: 14px;
        width: 100%;
    }
    .home-about > div .data {
        width: 100%;
        margin: 30px 0;
    }
    .home-about > div .data dl {
        width: 25%;
        text-align: center;
    }
    .home-about > div .data dl dt {
        font-size: 14px;
    }
    .home-about > div .data dl dt strong {
        font-size: 24px;
    }
    .home-about > div .data dl dt span {
        font-size: 20px;
    }
    .home-about > div .data dl dd {
        font-size: 14px;
    }
    .home-about > div .data dl dt strong.special {
        text-shadow: #abe5c6 1px 4px 3px;
    }
    .home-about > div .view-details {
        width: 120px;
        height: 42px;
        font-size: 12px;
    }
}

.home-product {
    .plate-head {
        text-align: center;
        padding: 100px 0 70px;
    }
}
@media (max-width: 1366px) {
    .home-product {
        .plate-head {
            padding: 70px 0 40px;
        }
    }
}
@media (max-width: 1199px) {
    .home-product {
        .plate-head {
            padding: 40px 0 30px;
        }
    }
}
.home-product {
    .product-ul {
        display: flex;
        flex-wrap: wrap;
        .item {
            position: relative;
            width: 50%;
            background: #efefef;
            transition: all 0.5s ease-out;
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(5) {
                background: #fbfbfb;
            }
            .halo {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                background: #029246 url(../images/halo.png) no-repeat center center;
                background-size: cover;
                transition: all 0.4s ease;
            }
            &:hover {
                background: #029246;
                .halo {
                    opacity: 1;
                }
                .box {
                    .info-wrap {
                        .info {
                            &.info1 {
                                opacity: 0;
                                height: 0;
                            }
                            &.info2 {
                                opacity: 1;
                            }
                            &:hover {
                                .understand-details {
                                    .icon {
                                        .icon-svg {
                                            transform: rotate(-45deg);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .box {
                position: relative;
                height: 360px;
                width: 29vw;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                .info-wrap {
                    position: relative;
                    height: 360px;
                    overflow: hidden;
                    .info {
                        height: 360px;
                        transition: all 0.6s ease;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        &.info1 {
                            opacity: 1;
                        }
                        &.info2 {
                            opacity: 0;
                            .tit {
                                color: #fff;
                            }
                        }
                        .tit {
                            position: relative;
                            display: block;
                            font-family: MR;
                            line-height: 1;
                            font-size: 34px;
                            color: #000;
                            font-weight: bold;
                            transition: all 0.3s ease 0.3s;
                        }
                        .english {
                            display: block;
                            margin-top: 16px;
                            font-family: MM;
                            line-height: 1;
                            font-size: 18px;
                            color: #999;
                            transition: all 0.3s ease;
                        }
                        .text {
                            margin-top: 20px;
                            transition: all 0.3s ease 0.6s;
                            p {
                                font-size: 18px;
                                line-height: 1.8;
                                color: #fff;
                                font-family: MM;
                                opacity: 0.8;
                                transition: all 0.3s ease;
                            }
                        }
                        .understand-details {
                            margin-top: 20px;
                            align-items: center;
                            transition: all 0.6s ease 0.9s;
                            display: flex;
                            .icon {
                                width: 42px;
                                height: 42px;
                                background: #fff;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .icon-svg {
                                    fill: #07974b;
                                    width: 30px;
                                    height: 30px;
                                    display: flex;
                                    transform: rotate(0);
                                    transition: all 0.3s ease;
                                }
                            }
                            p {
                                margin-left: 10px;
                                font-family: MM;
                                font-size: 16px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .pic {
                flex: 1;
                width: 270px;
                height: 170px;
                overflow: hidden;
                transition: all 0.3s ease;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
@media (max-width: 1560px) {
    .home-product .product-ul .item .box {
        width: 30vw;
    }
    .home-product .product-ul .item .box,
    .home-product .product-ul .item .box .info-wrap,
    .home-product .product-ul .item .box .info-wrap .info {
        height: 330px;
    }
    .home-product .product-ul .item .pic {
        width: 240px;
        height: 150px;
    }
    .home-product .product-ul .item .box .info-wrap .info .tit {
        font-size: 30px;
    }
    .home-product .product-ul .item .box .info-wrap .info .english {
        font-size: 16px;
    }
    .home-product .product-ul .item .box .info-wrap .info .text p {
        font-size: 14px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon {
        width: 38px;
        height: 38px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon .icon-svg {
        width: 28px;
        height: 28px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details p {
        font-size: 14px;
    }
}
@media (max-width: 1440px) {
    .home-product .product-ul .item .box {
        width: 30vw;
    }
    .home-product .product-ul .item .box,
    .home-product .product-ul .item .box .info-wrap,
    .home-product .product-ul .item .box .info-wrap .info {
        height: 280px;
    }
    .home-product .product-ul .item .pic {
        width: 220px;
        height: 139px;
    }
    .home-product .product-ul .item .box .info-wrap .info .tit {
        font-size: 28px;
    }
    .home-product .product-ul .item .box .info-wrap .info .english {
        font-size: 14px;
    }
    .home-product .product-ul .item .box .info-wrap .info .text p {
        font-size: 14px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon {
        width: 34px;
        height: 34px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon .icon-svg {
        width: 24px;
        height: 24px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details p {
        font-size: 14px;
    }
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
    .home-product .product-ul .item .box {
        width: 30vw;
    }
    .home-product .product-ul .item .box,
    .home-product .product-ul .item .box .info-wrap,
    .home-product .product-ul .item .box .info-wrap .info {
        height: 250px;
    }
    .home-product .product-ul .item .pic {
        width: 180px;
        height: 113px;
    }
    .home-product .product-ul .item .box .info-wrap .tit {
        font-size: 24px;
    }
    .home-product .product-ul .item .box .info-wrap .info .english {
        font-size: 14px;
    }
    .home-product .product-ul .item .box .info-wrap .info .text p {
        font-size: 12px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon {
        width: 28px;
        height: 28px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon .icon-svg {
        width: 18px;
        height: 18px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details p {
        font-size: 14px;
    }
}
@media (max-width: 990px) {
    .home-product .product-ul .item .box {
        width: 30vw;
    }
    .home-product .product-ul .item .box,
    .home-product .product-ul .item .box .info-wrap,
    .home-product .product-ul .item .box .info-wrap .info {
        height: 340px;
    }
    .home-product .product-ul .item .pic {
        width: 220px;
        height: 138px;
        flex: inherit;
    }
    .home-product .product-ul .item {
        width: 100%;
    }
    .home-product .product-ul .item:nth-child(1),
    .home-product .product-ul .item:nth-child(3),
    .home-product .product-ul .item:nth-child(5){
        background: #efefef;;
    }
    .home-product .product-ul .item:nth-child(2),
    .home-product .product-ul .item:nth-child(4),
    .home-product .product-ul .item:nth-child(6){
        background: #fff;;
    }
    .home-product .product-ul .item .box {
        width: 80vw;
    }
    .home-product .product-ul .item .box .info-wrap .info .tit {
        font-size: 22px;
    }
    .home-product .product-ul .item .box .info-wrap .info .english {
        font-size: 14px;
    }
    .home-product .product-ul .item .box .info-wrap .info .text p {
        font-size: 12px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon {
        width: 28px;
        height: 28px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details .icon .icon-svg {
        width: 18px;
        height: 18px;
    }
    .home-product .product-ul .item .box .info-wrap .info .understand-details p {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .home-product .product-ul .item .box {
        width: calc(100% - 40px);
    }
    .home-product .product-ul .item .box,
    .home-product .product-ul .item .box .info-wrap,
    .home-product .product-ul .item .box .info-wrap .info {
        height: 240px;
    }
    .home-product .product-ul .item .pic {
        width: 150px;
        height: 94px;
        flex: 1;
    }
    .home-product .product-ul .item .box .info-wrap .info .tit {
        font-size: 18px;
    }
    .home-product .product-ul .item .box .info-wrap .info .english {
        margin-top: 8px;
        font-size: 12px;
    }
    .home-product .product-ul .item .box .info-wrap .info .text {
        margin-top: 12px;
    }
}
