@mixin transition($type...) {
	-webkit-transition: $type;
	-moz-transition: $type;
	-ms-transition: $type;
	transition: $type;
}

@mixin transform($con...) {
	-webkit-transform: $con;
	-moz-transform: $con;
	-ms-transform: $con;
	transform: $con;
}

@mixin animation ($con...){
	-webkit-animation: $con;
	-moz-animation: $con;
	-ms-animation: $con;
	animation: $con;
}

@mixin backimg {
	background-position: center;
	background-repeat: no-repeat;
}

@mixin backcover {
	@include backimg;
	background-size: cover;
}
@mixin backcontain {
	@include backimg;
	background-size: contain;
}

@mixin filter($cont){
	-webkit-filter: grayscale($cont);
	-moz-filter: grayscale($cont);
	-ms-filter: grayscale($cont); filter:
	grayscale($cont);
}

@mixin inline-middle{
	display: inline-block;
	vertical-align: middle;
}

@mixin inline-top{
	display: inline-block;
	vertical-align: top;
}

@mixin inline-bottom{
	display: inline-block;
	vertical-align: bottom;
}

@mixin text-hidden {
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}

@mixin filter($con...){
	-webkit-filter: $con;
	-moz-filter: $con;
	-ms-filter: $con;
	filter: $con;
}
















